main
coverage.txt
coverage.xml
builds/
versions/
dcos-ui-update-service
.docker.build.dev*
testdata/localCosmos/node_modules/
testdata/localCosmos/package-lock.json
testdata/docroot/dcos-ui-dist
testdata/*sandbox/